body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a,
header nav button {
    text-decoration: none;
    color: #fff;
}

header nav button {
    background-color: black;
    padding: 15px;
}

header form {
    margin: 0;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    text-align: center;
}

ul li a {
    outline: none;
}

ul li a, ul li a:visited, ul li a:hover, ul li a:active {
    text-decoration: none;
    color: blue;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form select,
form button {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#error-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 50px;
}

.container h1 {
    margin-bottom: 20px;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container form button:hover {
    background-color: #0056b3;
}

#error-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}

.container a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    color: #0056b3;
    text-decoration: underline;
}